mj-section(mj-class="bgT1")
    mj-column
        mj-text(padding="0" align="center" mj-class="T26-500 cTW" letter-spacing="0.5px") ... et bien plus encore sur le store Netgear
        mj-button(mj-class="bgW cT1") Découvrir
mj-section(mj-class="bgW")
    mj-column
        mj-text(padding="0" align="center") *Code promo valable et cumulable avec les promos en cours sur la sélection suivante : RBK752-100EUS, RBK753-100EUS, RBK754-100EUS et RBK755-100EUS.
        mj-text(padding="0" align="center") Code promo valable jusqu'au 9 août inclus et dans la limite des stocks disponibles.