mj-section
    mj-column
        mj-text ... et bien plus encore sur le store Netgear
        mj-button Découvrir
mj-section
    mj-column
        mj-text *Code promo valable et cumulable avec les promos en cours sur la sélection suivante : RBK752-100EUS, RBK753-100EUS, RBK754-100EUS et RBK755-100EUS.
        mj-text Code promo valable jusqu'au 9 août inclus et dans la limite des stocks disponibles.