mj-section(mj-class="bgB" padding="25px 35px")
    mj-column
        mj-text(padding="0" align="center" mj-class="T32-300 cTW" letter-spacing="2px") Orbi : L'expert WiFi pour les grandes maisons
mj-section(mj-class="bgW" padding="0")
    mj-column
        mj-image(padding="0" width="700px" src="./images/illustrationOrbi.jpg" alt='')/
mj-section(mj-class="bgW" padding="15px 25px")
    mj-column(border="1px solid #CECECE" padding="10px")
        mj-text(padding="0" padding-bottom="20px" align="center" mj-class="T26-500 cB" letter-spacing="0.5px") Un WiFi ultra-performant partout chez vous
        mj-text(padding="0" padding-bottom="20px" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[strong Le Système Mesh Orbi associé à la technologie WiFi&nbsp;6] vous offre non seulement le meilleur WiFi #[strong (débit jusqu'à 6 Gbit/s)] mais aussi la capacité de couvrir de grandes superficies #[strong (jusqu'à 1380 m2)] avec une connexion rapide et stable.
        mj-text(padding="0" padding-bottom="20px" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Rien n'arrête les #[strong Systèmes Mesh Orbi WiFi 6&nbsp;!] Maisons à étages, villas, manoirs, corps de ferme, murs épais, ... la technologie d'Orbi permet à tous les membres de la famille de se connecter au WiFi, simultanément, sur une multitude d'appareils, y compris au bout de votre propriété.
        mj-text(padding="0" padding-bottom="20px" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[strong Sa simplicité d'utilisation et ses vitesses ultra-rapides] font de ce Système WiFi le meilleur de sa catégorie. Idéal pour profiter de la Fibre, streamer en 4K/8K, jouer en ligne, télécharger et bien plus encore.
        mj-text(padding="0" padding-bottom="20px" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[strong Ne manquez pas nos offres du moment pour tester le WiFi 1re classe&nbsp;!]
        mj-button(mj-class="bgB") Découvrir
