mj-section(mj-class="bgB")
    mj-column
        mj-text(padding="0" align="center" mj-class="cTW") Orbi : L'expert WiFi pour les grandes maisons
mj-section
    mj-column
        mj-image(padding="0" width="700px" src="./images/illustrationOrbi.jpg" alt='')/
        mj-text(padding="0" align="center" mj-class="T17-500 CT1") Un WiFi ultra-performant partout chez vous
        mj-text(padding="0" align="center" mj-class="T17-500 CT1") Le Système Mesh Orbi associé à la technologie WiFi 6 vous offre non seulement le meilleur WiFi (débit jusqu'à 6 Gbit/s) mais aussi la capacité de couvrir de grandes superficies (jusqu'à 1380 m2) avec une connexion rapide et stable.
        mj-text(padding="0" align="center" mj-class="T17-500 CT1") Rien n'arrête les Systèmes Mesh Orbi WiFi 6 ! Maisons à étages, villas, manoirs, corps de ferme, murs épais, ... la technologie d'Orbi permet à tous les membres de la famille de se connecter au WiFi, simultanément, sur une multitude d'appareils, y compris au bout de votre propriété.
        mj-text(padding="0" align="center" mj-class="T17-500 CT1") Sa simplicité d'utilisation et ses vitesses ultra-rapides font de ce Système WiFi le meilleur de sa catégorie. Idéal pour profiter de la Fibre, streamer en 4K/8K, jouer en ligne, télécharger et bien plus encore.
        mj-text(padding="0" align="center" mj-class="T17-500 CT1") Ne manquez pas nos offres du moment pour tester le WiFi 1re classe !
        mj-button Découvrir
