mj-section
    mj-column
        mj-image(src="./images/illustrationPromo.jpg" alt="")/
mj-section
    mj-column
        mj-image(src="./images/rbk752.gif" alt="")/
        mj-text Système Mesh Orbi WiFi 6 AX4200
        mj-text (RBK752) Jusqu'à 350m2
        mj-text 499.99€ 379.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/rbk753.gif" alt="")/
        mj-text Système Mesh Orbi WiFi 6 AX4200
        mj-text (RBK753) Jusqu'à 525m2
        mj-text 699.99€ 559.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/rbk754.gif" alt="")/
        mj-text Système Mesh Orbi WiFi 6 AX4200
        mj-text (RBK754) Jusqu'à 700m2
        mj-text 979.99€ 739.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/rbk755.gif" alt="")/
        mj-text Système Mesh Orbi WiFi 6 AX4200
        mj-text (RBK755) Jusqu'à 700m2
        mj-text 1259.99€ 919.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/rbk352.gif" alt="")/
        mj-text Système Mesh Orbi WiFi 6 AX1800
        mj-text (RBK352) Jusqu'à 200m2
        mj-text 249.99€ 209.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/rbk353.gif" alt="")/
        mj-text Système Mesh Orbi WiFi 6 AX1800
        mj-text (RBK353) Jusqu'à 300m2
        mj-text 349.99€ 299.99€
        mj-button J'en profite