mj-section
    mj-column(width="50%")
        mj-image(padding="0" align="center" src="./images/rbk853.jpg" alt='')/
        mj-text(padding="0" align="center") Système Mesh Orbi WiFi 6 AX6000
        mj-text(padding="0" align="center") (RBK853) Jusqu'à 690m2
        mj-text(padding="0" align="center") 2 supports muraux offerts
        mj-text(padding="0" align="center") 1099.99€ 1069.99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(padding="0" align="center" src="./images/rbk854.jpg" alt='')/
        mj-text(padding="0" align="center") Système Mesh Orbi WiFi 6 AX6000
        mj-text(padding="0" align="center") (RBK854) Jusqu'à 920m2
        mj-text(padding="0" align="center") 3 supports muraux offerts
        mj-text(padding="0" align="center") 1609.99€ 1469.99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(padding="0" align="center" src="./images/rbk855.jpg" alt='')/
        mj-text(padding="0" align="center") Système Mesh Orbi WiFi 6 AX6000
        mj-text(padding="0" align="center") (RBK855) Jusqu'à 1150m2
        mj-text(padding="0" align="center") 4 supports muraux offerts
        mj-text(padding="0" align="center") 2079.99€ 1829.99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(padding="0" align="center" src="./images/rbk856.jpg" alt='')/
        mj-text(padding="0" align="center") Système Mesh Orbi WiFi 6 AX6000
        mj-text(padding="0" align="center") (RBK856) 
        mj-text(padding="0" align="center") Jusqu'à 1380m2
        mj-text(padding="0" align="center") 2499.99€ 2179.99€
        mj-button J'en profite