mj-section
    mj-column
        mj-image(src="./images/rbk853.jpg" alt='')/
        mj-text Système Mesh Orbi WiFi 6 AX6000
        mj-text (RBK853) Jusqu'à 690m2
        mj-text 2 supports muraux offerts
        mj-text 1099.99€ 1069.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/rbk854.jpg" alt='')/
        mj-text Système Mesh Orbi WiFi 6 AX6000
        mj-text (RBK854) Jusqu'à 920m2
        mj-text 3 supports muraux offerts
        mj-text 1609.99€ 1469.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/rbk855.jpg" alt='')/
        mj-text Système Mesh Orbi WiFi 6 AX6000
        mj-text (RBK855) Jusqu'à 1150m2
        mj-text 4 supports muraux offerts
        mj-text 2079.99€ 1829.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/rbk856.jpg" alt='')/
        mj-text Système Mesh Orbi WiFi 6 AX6000
        mj-text (RBK856) 
        mj-text Jusqu'à 1380m2
        mj-text 2499.99€ 2179.99€
        mj-button J'en profite