mj-section
    mj-column(width="50%")
        mj-image(padding="0" align="center" width="275px" src="./images/rbk853.jpg" alt='')/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Système Mesh Orbi WiFi 6 AX6000
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") (RBK853) Jusqu'à 690m2
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") 2 supports muraux offerts
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") 1099.99€ 1069.99€
        mj-button(mj-class="bgB") J'en profite
    mj-column(width="50%")
        mj-image(padding="0" align="center" width="275px" src="./images/rbk854.jpg" alt='')/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Système Mesh Orbi WiFi 6 AX6000
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") (RBK854) Jusqu'à 920m2
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") 3 supports muraux offerts
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") 1609.99€ 1469.99€
        mj-button(mj-class="bgB") J'en profite
    mj-column(width="50%")
        mj-image(padding="0" align="center" width="275px" src="./images/rbk855.jpg" alt='')/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Système Mesh Orbi WiFi 6 AX6000
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") (RBK855) Jusqu'à 1150m2
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") 4 supports muraux offerts
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") 2079.99€ 1829.99€
        mj-button(mj-class="bgB") J'en profite
    mj-column(width="50%")
        mj-image(padding="0" align="center" width="275px" src="./images/rbk856.jpg" alt='')/
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Système Mesh Orbi WiFi 6 AX6000
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") (RBK856) 
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Jusqu'à 1380m2
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") 2499.99€ 2179.99€
        mj-button(mj-class="bgB") J'en profite