mj-section(padding="0")
    mj-column
        mj-image(padding="0" width="700px" src="./images/illustrationPromo.jpg" alt="")/
mj-section
    mj-column(width="50%")
        mj-image(padding="0" align="center" src="./images/rbk752.gif" alt="")/
        mj-text(padding="0" align="center") Système Mesh Orbi WiFi 6 AX4200
        mj-text(padding="0" align="center") (RBK752) Jusqu'à 350m2
        mj-text(padding="0" align="center") 499.99€ 379.99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(padding="0" align="center" src="./images/rbk753.gif" alt="")/
        mj-text(padding="0" align="center") Système Mesh Orbi WiFi 6 AX4200
        mj-text(padding="0" align="center") (RBK753) Jusqu'à 525m2
        mj-text(padding="0" align="center") 699.99€ 559.99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(padding="0" align="center" src="./images/rbk754.gif" alt="")/
        mj-text(padding="0" align="center") Système Mesh Orbi WiFi 6 AX4200
        mj-text(padding="0" align="center") (RBK754) Jusqu'à 700m2
        mj-text(padding="0" align="center") 979.99€ 739.99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(padding="0" align="center" src="./images/rbk755.gif" alt="")/
        mj-text(padding="0" align="center") Système Mesh Orbi WiFi 6 AX4200
        mj-text(padding="0" align="center") (RBK755) Jusqu'à 700m2
        mj-text(padding="0" align="center") 1259.99€ 919.99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(padding="0" align="center" src="./images/rbk352.gif" alt="")/
        mj-text(padding="0" align="center") Système Mesh Orbi WiFi 6 AX1800
        mj-text(padding="0" align="center") (RBK352) Jusqu'à 200m2
        mj-text(padding="0" align="center") 249.99€ 209.99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(padding="0" align="center" src="./images/rbk353.gif" alt="")/
        mj-text(padding="0" align="center") Système Mesh Orbi WiFi 6 AX1800
        mj-text(padding="0" align="center") (RBK353) Jusqu'à 300m2
        mj-text(padding="0" align="center") 349.99€ 299.99€
        mj-button J'en profite